* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
  list-style: none;
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  gap: 5rem;
  background-color: rgb(33, 27, 27);
  backdrop-filter: blur(8px);
  color: rgb(241, 229, 229);
  padding: 0.5rem 3rem;
}

.logo {
  color: rgb(238, 229, 229);
  font-size: 1.5rem;
  font-weight: 800;
  text-wrap: nonwrap;
  transition: 0.3 ease-in-out;
  text-decoration: none;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  gap: 3rem;
}

li a {
  position: relative;
  color: white;
  font-weight: 300;
  text-decoration: none;
}

li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  height: 3px;
  top: 25px;
  background: linear-gradient(to right, rgb(232, 218, 21), rgb(26, 216, 42));
  border-radius: 1rem;
}

li a:hover::before {
  width: 100%;
}

.visit-btn {
  padding: 1%;
  border-radius: 2rem;
  border: none;
  font-weight: 300;
  font-size: 1rem;
  color: white;
  text-wrap: nowrap;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}

.visit-btn:hover {
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  transform: scale(1.03);
}

#menu-icon {
  font-size: 2rem;
  color: rgb(246, 240, 240);
  cursor: pointer;
}

#menu-icon:hover {
  transform: scale(1.1);
}

section {
  background-color: red;
  padding: 30 rem;
  color: rgb(28, 27, 26);
}

.about-container {
  display: flex;
  gap: 600px;
  align-items: center;
  justify-content: center;
  padding: 9rem;
}

.about-container img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 60%;
}

/* .about-container img,
.info-box {
    flex: 1;
} */

.info-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.info-box h3 {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.8;
}

.info-box h1 {
  font-size: 2.7rem;
  font-weight: 600;
  opacity: 0.9;
}

.info-box span {
  font-size: 1.7rem;
  font-weight: 300;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
}

.button-group {
  display: flex;
  gap: 4rem;

  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: 3rem;
  border: 2px solid black;
  padding: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background-color: black;
  color: white;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.socials i {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.socials i:hover {
  transform: scale(1.1);
}

.experience {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 0.2rem;
  opacity: 1;
  margin-bottom: 3rem;
}

.experience-info {
  background-color: rgb(255, 0, 0);
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}

.grid-card {
  border: 2px solid black;
  border-radius: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left ;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.grid-card:hover{
    transform: scale(1.02);
    background-color: black;
    color: white;
}

.grid-card span{
    font-size: 1.4rem;
    font-weight: 500;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
    background-clip: text;
    color: transparent;
}

.grid-card h2{
    font-size: 1.3rem;
    font-weight: 550;
}

.grid-card h3{
    font-size: 1.0rem;
    font-weight: 300;
}

.grid-card h4{
    font-size: 1.0rem;
    font-weight: 400;
}

.grid-card i{
    font-size: 1.6rem;
}